In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-22 13:18:32|  2020-01-22 13:45:58|                 N|         1|         244|          41|              1|         5.22|       22.0|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        22.8|           1|        1|                 0.0|
|       2| 2020-01-23 17:54:10|  2020-01-23 18:01:02|                 N|         1|         236|         263|              1|         0.87|        6.5|  1.0|    0.5|       1.2|         0.0|     NULL|                  0.3|       12.25|           1|        1|                2.75|
|       2| 2020-01-19 10:23:37|  2020-01-19 10:26:29|                 N|         1|         166|         166|              4|         0.63|        4.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.3|           2|        1|                 0.0|
|       2| 2020-01-21 14:25:16|  2020-01-21 14:35:51|                 N|         1|         152|         238|              1|         2.71|       11.0|  0.0|    0.5|      2.91|         0.0|     NULL|                  0.3|       17.46|           1|        1|                2.75|
|    NULL| 2020-01-07 09:46:00|  2020-01-07 09:59:00|              NULL|      NULL|          51|           3|           NULL|         2.13|      18.96| 2.75|    0.0|       0.0|         0.0|     NULL|                  0.3|       22.01|        NULL|     NULL|                NULL|
|    NULL| 2020-01-10 08:19:00|  2020-01-10 09:15:00|              NULL|      NULL|          32|         186|           NULL|        17.93|      49.58|  0.0|    0.0|       0.0|         2.8|     NULL|                  0.3|       52.68|        NULL|     NULL|                NULL|
|       2| 2020-01-15 10:57:40|  2020-01-15 11:33:06|                 N|         1|         130|         228|              3|        24.04|       64.5|  0.0|    0.5|     13.06|         0.0|     NULL|                  0.3|       78.36|           1|        1|                 0.0|
|       2| 2020-01-26 16:52:02|  2020-01-26 17:03:01|                 N|         1|           7|         223|              1|         1.45|        8.5|  0.0|    0.5|      2.79|         0.0|     NULL|                  0.3|       12.09|           1|        1|                 0.0|
|       2| 2020-01-24 21:57:19|  2020-01-24 22:27:38|                 N|         1|         244|          87|              1|        10.94|       34.0|  0.5|    0.5|      3.95|         0.0|     NULL|                  0.3|        42.0|           1|        1|                2.75|
|       2| 2020-01-27 23:45:54|  2020-01-27 23:58:33|                 N|         1|          65|          62|              5|         3.18|       12.0|  0.5|    0.5|       2.0|         0.0|     NULL|                  0.3|        15.3|           1|        1|                 0.0|
|       2| 2020-01-26 17:21:19|  2020-01-26 17:31:43|                 N|         1|          95|          95|              1|         1.86|        8.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|           2|        1|                 0.0|
|       2| 2020-01-07 11:54:37|  2020-01-07 12:04:23|                 N|         1|         181|         195|              1|         1.75|        8.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|           2|        1|                 0.0|
|    NULL| 2020-01-12 07:21:00|  2020-01-12 07:58:00|              NULL|      NULL|         240|          37|           NULL|        18.95|      40.47|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.0|       40.97|        NULL|     NULL|                NULL|
|    NULL| 2020-01-13 11:56:00|  2020-01-13 12:23:00|              NULL|      NULL|          75|         220|           NULL|         9.24|      34.86| 2.75|    0.0|       0.0|         2.8|     NULL|                  0.3|       40.71|        NULL|     NULL|                NULL|
|       2| 2020-01-11 05:41:57|  2020-01-11 05:51:49|                 N|         5|         127|          69|              1|         3.37|        7.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|         7.3|           2|        2|                 0.0|
|    NULL| 2020-01-28 13:40:00|  2020-01-28 13:59:00|              NULL|      NULL|          25|          61|           NULL|         2.92|      20.73| 2.75|    0.5|       0.0|         0.0|     NULL|                  0.0|       23.98|        NULL|     NULL|                NULL|
|    NULL| 2020-01-28 11:19:00|  2020-01-28 11:33:00|              NULL|      NULL|         212|          81|           NULL|         5.13|      22.59| 2.75|    0.5|       0.0|         0.0|     NULL|                  0.0|       25.84|        NULL|     NULL|                NULL|
|       1| 2020-01-23 07:57:08|  2020-01-23 08:01:28|                 N|         1|         166|          24|              1|          1.0|        5.5|  0.0|    0.5|      1.26|         0.0|     NULL|                  0.3|        7.56|           1|        1|                 0.0|
|       2| 2020-01-20 10:04:55|  2020-01-20 10:06:34|                 N|         1|          75|          75|              1|         0.59|        3.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.3|           2|        1|                 0.0|
|    NULL| 2020-01-03 18:37:00|  2020-01-03 18:37:00|              NULL|      NULL|          81|          81|           NULL|          0.0|      22.26|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|       23.06|        NULL|     NULL|                NULL|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [5]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [7]:
df_yellow.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2020-01-01 19:45:57|  2020-01-01 20:06:13|              1|          6.1|         1|                 N|         162|          87|           1|       21.0|  2.5|    0.5|      4.85|         0.0|                  0.3|       29.15|                 2.5|
|       2| 2020-01-05 16:31:22|  2020-01-05 16:47:15|              1|         2.82|         1|                 N|         170|         143|           1|       12.5|  0.0|    0.5|       1.2|         0.0|                  0.3|        17.0|                 2.5|
|       2| 2020-01-07 05:39:53|  2020-01-07 06:11:56|              1|        23.53|         4|                 N|         132|         265|           1|      104.0|  0.5|    0.5|     21.06|         0.0|                  0.3|      126.36|                 0.0|
|       2| 2020-01-14 11:55:53|  2020-01-14 12:14:05|              1|         1.98|         1|                 N|         263|         233|           1|       12.5|  0.0|    0.5|       1.0|         0.0|                  0.3|        16.8|                 2.5|
|       2| 2020-01-16 22:44:11|  2020-01-16 22:49:00|              1|         0.99|         1|                 N|         234|          68|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|        11.0|                 2.5|
|       2| 2020-01-28 00:44:32|  2020-01-28 00:44:34|              1|          0.0|         5|                 N|         264|         264|           1|       62.0|  0.0|    0.0|     12.46|         0.0|                  0.3|       74.76|                 0.0|
|       2| 2020-01-09 11:03:27|  2020-01-09 11:10:32|              1|         1.04|         1|                 N|         239|         236|           1|        6.5|  0.0|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|
|       1| 2020-01-31 00:05:12|  2020-01-31 00:30:43|              1|         11.3|         1|                 N|         132|          17|           1|       33.0|  0.5|    0.5|      6.85|         0.0|                  0.3|       41.15|                 0.0|
|       2| 2020-01-08 10:32:04|  2020-01-08 10:37:12|              1|         1.32|         1|                 N|         140|         262|           1|        6.0|  0.0|    0.5|      2.32|         0.0|                  0.3|       11.62|                 2.5|
|       1| 2020-01-28 14:23:26|  2020-01-28 14:38:41|              2|          3.7|         1|                 N|          13|          90|           1|       14.5|  2.5|    0.5|       5.3|         0.0|                  0.3|        23.1|                 2.5|
|       2| 2020-01-29 18:37:02|  2020-01-29 19:00:32|              1|          4.1|         1|                 N|         162|         202|           2|       18.0|  1.0|    0.5|       0.0|         0.0|                  0.3|        22.3|                 2.5|
|       2| 2020-01-25 13:32:09|  2020-01-25 13:39:00|              1|         1.16|         1|                 N|         211|          90|           1|        6.5|  0.0|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|
|       2| 2020-01-17 10:47:02|  2020-01-17 10:56:49|              1|         1.39|         1|                 N|         161|         142|           1|        8.0|  0.0|    0.5|      2.82|         0.0|                  0.3|       14.12|                 2.5|
|       1| 2020-01-25 01:09:52|  2020-01-25 01:30:30|              1|          5.9|         1|                 N|         143|         223|           1|       20.5|  3.0|    0.5|      7.25|         0.0|                  0.3|       31.55|                 2.5|
|       2| 2020-01-16 09:40:00|  2020-01-16 10:07:35|              1|         3.06|         1|                 N|         113|         100|           1|       18.0|  0.0|    0.5|      5.32|         0.0|                  0.3|       26.62|                 2.5|
|       2| 2020-01-09 19:37:04|  2020-01-09 19:51:07|              1|         1.39|         1|                 N|         230|         237|           1|       10.0|  1.0|    0.5|      2.86|         0.0|                  0.3|       17.16|                 2.5|
|       2| 2020-01-17 05:12:02|  2020-01-17 05:21:18|              1|         6.81|         1|                 N|         132|          28|           1|       19.5|  0.5|    0.5|       5.2|         0.0|                  0.3|        26.0|                 0.0|
|       1| 2020-01-12 20:48:45|  2020-01-12 20:59:55|              1|          2.3|         1|                 N|         163|          43|           1|       10.5|  3.0|    0.5|      2.86|         0.0|                  0.3|       17.16|                 2.5|
|       2| 2020-01-12 18:11:10|  2020-01-12 18:29:22|              2|         2.01|         1|                 N|         100|          79|           1|       13.0|  0.0|    0.5|      3.26|         0.0|                  0.3|       19.56|                 2.5|
|       2| 2020-01-09 18:27:25|  2020-01-09 18:38:32|              1|         1.96|         1|                 N|         161|         143|           1|        9.5|  1.0|    0.5|      2.07|         0.0|                  0.3|       15.87|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [8]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [11]:
#Renaming columns so they match between dataframes

df_green = df_green\
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

df_yellow = df_yellow\
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [16]:
#Creating list of columns common between dataframes so order of variables remains fixed. Using set A & B reorders variables

common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)
        
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [20]:
from pyspark.sql import functions as F

In [23]:
#Creating a column for service type to support unioning dataframes

df_green_sel = df_green.select(common_columns).withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow.select(common_columns).withColumn('service_type', F.lit('yellow'))

In [25]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [29]:
#Creates as temporary table to support SQL queries 

df_trips_data.createOrReplaceTempView('trips_data')

In [33]:
spark.sql("""
SELECT service_type, count(*) FROM trips_data GROUP BY service_type LIMIT 10;
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [34]:
#SQL to calcluate monthly revenue for different pickup zones
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [36]:
#Writing out parquet as a single file using coalesce (opposite of partition)
df_result.coalesce(1).write.parquet('data/report/revenue')